html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: -webkit-linear-gradient(2deg, #4bb4ff, #99ccf6, #bafed7,#f5ffab, #f8c65b);
    background-size: cover;
}

.header {
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3), -2px -2px 4px rgba(0, 0, 0, 0.3);
}
h2{
    font-size: 40px;
    text-decoration: none;
    font-weight: lighter;
}
.container {
    display: flex;
    gap: 2px;
    height: 100%;
}

#map {
    flex: 1;
    border-radius: 10px;
    border: 1px solid black;
}

.info-box {
    flex: 2;
    background: hsla(0, 0%, 100%, 0.6); 
    padding: 20px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-height: 100%;
    border: 1px solid black;
}

#location-title {
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: lighter;
}

.weather-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 30px;
}

.weather-item {
    text-align: center;
    overflow: hidden;
    border-bottom: 1px black solid;
}

.weather-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 1px solid rgb(116, 116, 116);
    background: linear-gradient(135deg, #ddedff, #7ec3ff);

}

.weather-top {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background: linear-gradient(135deg, #ddedff, #7ec3ff);
    border-radius: 20px 20px 0 0;
}

.weather-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
    padding-bottom: 2vh;
}

.grid-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
    padding: 5px;
    background-color: #f6f8fa;
    border: 1px solid #d1e2f4;
    text-align: center;
    background: linear-gradient(135deg, #f2f9ff, #e1f1fd);
}


.grid-cell i {
    margin-right: 5px;
}

.weather-details {
    font-size: 12px;
    margin-top: 5px;
}

.select-button {
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.select-button:hover {
    background-color: #0056b3;
}


@media screen and (min-width: 1024px) {
    .weather-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .weather-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .weather-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .weather-box {
        padding: 5px;
    }
}
